
/* ------- Header Components --------*/

p {
    margin: 0px;
}

.header-image{
    background-image: url("/static/img/table.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}


/* ------- Search Area Components --------*/

#search-options {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 30px;
}

.search-input {
    text-align: center;
    width: 70%;
    display: none;
}

.search-input .get-recipes {
    background-color: #FFBE4D;
    max-width: 150px;
}

.search-input #add-another-ingredient{
    background-color: lightgrey;
    max-width: 250px;
}

#add-another-ingredient:hover {
    background-color: #f0efed;
}

#ingredient-line-items{
    padding: 20px;
}

.form-group {
    padding: 0px;
}

form select {
    margin:0 auto;
}

.user-input {
    max-width: 400px;
    margin:0 auto;
}

#menu-selection, #allergies-selection {
    margin:0 auto;
}


/* ---------- Loader Configuration ------- */

.loader {
    width: 100%;
    margin:0 auto;
    background: white;
    justify-content: center;    /* center horizontally */
    text-align: center;         /* center vertically */
}

.loader.hiding {
    display: none;
}

.loader > img {
    width: 50px;
}

.loader.visible {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* ------ Buttons ------ */

.btn {
    background-color: white;
    color: black;
    text-align: center;
    margin:0 auto;
    padding: 20px;
    width: 80%;
}

.btn img {
    width:100%;
    max-width:100px;
}

.btn p {
    padding: 20px;
    font-size: 18px;
}

*:focus {
    outline:0 !important;
}

.category:hover {
    background-color: #f0efed;
}

.get-recipes {
    margin: 25px;
}

.col .category {
    height: 90%;
    width: 90%;
}

