
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
        {% block headers %} {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <nav class="navbar navbar-expand">
            {% block navbar %}
            {% endblock %}
        </nav>
        {% block body %}
        {% endblock %}
    </body>

    <footer class="footer">

        <div class="container" id="footer-container">

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <p id="copyright"></p>
                    <p id="copyright-company"></p>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-4" id="contact-info">
                    <div>
                        <p><i class="fa fa-map-marker"></i> Born and Raised in NYC</p>
                    </div>
                    <div>
                        <p><i class="fa fa-envelope"></i>&nbsp; breadandbutter@fakemail.com</p>
                    </div>

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>
                <div class="col">

                    <p id="about-company"></p>

                </div>
            </div>
        </div>

    </footer>
</html>

